#home{
  height:35%;



}

#navigation{
  z-index: 10;
  position:fixed;
  width: 100%;
  margin-top: 0px;
  background-color: white;
  padding: 15px;
}

#homerow{
    
}
#homecard{
  margin-top: 200px;
  padding: 35px;
  margin-bottom: 200px;
 
}

#about{
height: 35%;
background-color: blue;
}
#aboutheader{
  text-align: center;
}

#aboutcard{
margin-top: 130px;
margin-bottom: 200px;
padding: 50px;
text-align: center;

}

.aboutcontent{

text-decoration:underline;


}
#contact{
  height: 30%;


}

#contactcard{
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 120px;
}

#cardphoto{
border-radius: 3px;

}